version: '3'

services:
  frontend:
    image: nginx:alpine
    container_name: hkschoolweb
    ports:
      - "80:80"
    volumes:
      - ./html:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    restart: always
